
java code/TestCases/.idea/compiler.xml

java code/TestCases/.idea/copyright/profiles_settings.xml

java code/TestCases/.idea/libraries/Maven__junit_junit_3_8_1.xml

java code/TestCases/.idea/misc.xml

java code/TestCases/.idea/modules.xml

java code/TestCases/.idea/workspace.xml

java code/TestCases/TestCases.iml
Java code/Unit test app/.idea/
Java code/Unit test app/target/
Java code/bolanimatie/.idea/compiler.xml
Java code/my-testcasesCoverage/target/classes/com/mycompany/app/Student.class
Java code/my-testcasesCoverage/.idea/modules.xml
Java code/my-testcasesCoverage/.idea/
Java code/bolanimatie/.idea/
